@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face{
  font-family: "Jost";
  src:local("Jost-Regular"),
  url('./assets/font/Jost-Regular.ttf') 
}


:root  {
  --background: 291 100% 100%;
  --foreground: 291 5% 10%;
  --card: 291 50% 100%;
  --card-foreground: 291 5% 15%;
  --popover: 291 100% 100%;
  --popover-foreground: 291 100% 10%;
  --primary: 291 51.5% 38%;
  --primary-foreground: 0 0% 100%;
  --secondary: 291 30% 90%;
  --secondary-foreground: 0 0% 0%;
  --muted: 253 30% 95%;
  --muted-foreground: 291 5% 40%;
  --accent: 253 30% 90%;
  --accent-foreground: 291 5% 15%;
  --destructive: 0 100% 50%;
  --destructive-foreground: 291 5% 100%;
  --border: 291 30% 82%;
  --input: 291 30% 50%;
  --ring: 291 51.5% 38%;
  --radius: 0.5rem;
}
.dark  {
  --background: 291 50% 10%;
  --foreground: 291 5% 100%;
  --card: 291 50% 10%;
  --card-foreground: 291 5% 100%;
  --popover: 291 50% 5%;
  --popover-foreground: 291 5% 100%;
  --primary: 291 51.5% 38%;
  --primary-foreground: 0 0% 100%;
  --secondary: 291 30% 20%;
  --secondary-foreground: 0 0% 100%;
  --muted: 253 30% 25%;
  --muted-foreground: 291 5% 65%;
  --accent: 253 30% 25%;
  --accent-foreground: 291 5% 95%;
  --destructive: 0 100% 50%;
  --destructive-foreground: 291 5% 100%;
  --border: 291 30% 50%;
  --input: 291 30% 50%;
  --ring: 291 51.5% 38%;
  --radius: 0.5rem;
}

